body {
  font-family: "Roboto", sans-serif;
  color: #2b2f70;
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/99/1/j1saJW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.weather-app {
  background-image: linear-gradient(to bottom, #f1eef5 10%, #887c9d 90%);
  border: solid 1px #a9a9a900;
  padding: 10px;
  margin: 150px auto;
  border-radius: 10px;
  max-width: 400px;
}

.form-row {
  margin-bottom: 10px;
}

.date {
  text-align: center;
  margin-bottom: 70px;
}

h1 {
  text-align: center;
  margin: 0;
}

h1 .active {
  color: #2b2f70;
  cursor: default;
}

h1 .active:hover {
  text-decoration: none;
}

.current-description {
  margin: 0 auto;
  width: 100px;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#city-name {
  text-transform: capitalize;
}

.parameters {
  margin: 0 auto;
  width: 125px;
  margin-bottom: 70px;
}

.previsions ul {
  text-align: center;
  padding: 0;
}

.previsions li {
  list-style: none;
}

ul .day {
  font-weight: bold;
}

footer {
  text-align: center;
  margin: 20px;
  font-weight: lighter;
}

footer a {
  color: #fef7e7;
}
